*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
}

body{
    background-color: white;
}
:root{
    --container-margin: 0rem 3rem 0rem 3rem;
    --dark-gray: #4A4A4A;
    --light-gray: #D7D7D7;
    --primary-color: #f8c80d;
    --secondary-color: #db0262;
    --tirtiary-color: #977AAF;
}
/*Under construction elements.*/
#under-construction {
    position: relative;
    display: inline-block;

}

#under-construction img {
    display: block;
    width: 100%;
    height: auto;
}

#under-construction-btn {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    /* border: 1px solid black; */
    border: none;
}
/* a:visited{
    color: white;
} */
/*This container is placeholder for navbar since navbar is fixed*/
.container{
    padding-top: 7rem;
    width: 100%;
    overflow: hidden;
}
/*Less padding since mobile navbar is not as tall.*/
@media (max-width: 700px){
    .container{
        padding-top: 4rem;
        
    }
}


/*Start of Navbar*/
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white; 
    width: 100%;
    height: 7rem;
    padding: 0rem 2rem 0rem 2rem;
    flex-direction: row;
    border-bottom: var(--primary-color) 1px solid;
    position: fixed;
    transition: height 0.2s ease-in-out;
    z-index: 1000;
}
#navbar-title{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 7rem;
    cursor: pointer;
}
.navbar-logo-img{
    height: 8rem;
}

.navbar-link-list{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2.5rem;
    color: var(--dark-gray);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: .8rem;
    list-style-type: none;
}
.navbar-link{
    cursor: pointer;
    font-size: 2rem;
    list-style: none;
    color: var(--dark-gray);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: .8rem;
}

.navbar-link:visited{
    color: var(--dark-gray);

}
.navbar-link:hover{
    text-decoration: underline;
    text-decoration-color: var(--dark-gray);
    text-decoration-thickness: 3px;
    transition: 2s;
}
.navbar-link:not(:hover){
    text-decoration: none;
    text-decoration-color: var(--dark-gray);
    text-decoration-thickness: 0px;
    transition: 2s;
}
.navbar-link.active{
    text-decoration: underline;
    text-decoration-color: var(--dark-gray);
    text-decoration-thickness: 3px;
}
.navbar-link{
    color: var(--dark-gray);
}
@media (max-width: 1400px){

    .navbar-logo-img{
        height: 7rem;
    }
    .navbar-link{
        font-size: 2rem;
    }
    .navbar-link-list{
        gap: 1.8rem;
    }
}
@media (max-width: 1030px){

    .navbar-logo-img{
        height: 6rem;
    }
    #navbar-title{
        font-size: 3.8rem;
    }
    .navbar-link{
        font-size: 1.5rem;
    }
    .navbar-link-list{
        gap: 1.2rem;
    }
    .navbar-link.active{
        text-decoration-thickness: 2px;
    }
}
@media (max-width: 880px){

    .navbar-logo-img{
        height: 5rem;
    }
    #navbar-title{
        font-size: 1rem;
    }
    .navbar-link{
        font-size: 1.3rem;
    }
    .navbar-link-list{
        gap: .8rem;
    }
    .navbar-link.active{
        text-decoration-thickness: 1px;
    }
}


/*Below 700px start using mobile navbar*/
#mobile-navbar{
    display: none;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    min-width: 300px;
    height: 5rem;
    padding: 0rem .8rem 0rem .8rem;
    flex-direction: row;
    border-bottom: var(--dark-gray) 1px solid;
    position: fixed;
    transition: height 0.2s ease-in-out;
    z-index: 1000;
    flex-wrap: wrap;
}
#mobile-navbar-title{
    display: flex;
    align-items: center;
    justify-content: left;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out;
}

/*Toggle between the two navbars when crossing 700px*/
@media (min-width: 701px){
    #navbar{
        display: flex;
    }
    #mobile-navbar{
        display: none;
    }
}
@media (max-width: 700px){
    #navbar{
        display: none;
    }
    #mobile-navbar{
        display: flex;
    }
}
#toggle-button{
    display: flex;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 3.5rem;
    min-width: 3.5rem;
    height: 100%;
    max-height: 5rem;
    padding: 1rem 0rem 1rem 0rem;
    transition: margin-top 0.2s ease-in-out;

}
.bar{
    display: block;
    background-color: var(--primary-color);
    height: 10px;
    width: 100%;
    border-radius: 10px;

}
#navbar-mobile-links-container{
    display: flex;
    flex-direction: column;
    background: white;
    position: fixed;
    border-bottom: var(--dark-gray) 1px solid;
    top: 5rem;
    width: 100%;
    padding: 0rem 2rem 0rem 2rem;
    left: 0;
    text-align: center;
    transition: top 0.2s ease-in-out;
}
.navbar-mobile-link-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 2rem;
    gap: .5rem;
    padding: 1rem 0rem 1rem 0rem;
}
.navbar-mobile-link{
    cursor: pointer;
    font-size: 2rem;
    list-style: none;
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: .8rem;
}
.navbar-mobile-link:visited{
    color: var(--dark-gray);


}
.navbar-mobile-link:hover{
    text-decoration: underline;
    text-decoration-color: var(--dark-gray);
    text-decoration-thickness: 3px;
    transition: .5s;
}
.navbar-mobile-link.active{
    text-decoration: underline;
    text-decoration-color: var(--dark-gray);
    text-decoration-thickness: 3px;
}
.navbar-mobile-link{
    color: var(--dark-gray);
}
@media (max-width: 500px){
    #mobile-navbar-title{
        margin-top: 0rem;
    }
}
@media (max-width: 400px){
    #mobile-navbar-title{
        margin-top: 0rem;
    }
}
@media (max-width: 350px){
    #mobile-navbar-title{
        margin-top: 0rem;
    }
}
@media (max-width: 300px){
    #mobile-navbar-title{
        margin-top: 0rem;

    }
}
/*End of Navbar*/
/*Start of multi page Header*/
.header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5rem;
    background-color: var(--light-gray);
    margin-bottom: 3rem;
}
.header h1{
    font-size: 7rem;
    color: var(--dark-gray);
    font-weight: 500;
    font-family: "Bellota";
    margin-bottom: 1rem;

}
.header-container{
    display: flex;
    align-items: center;
    gap: .5rem;

}
.header-container a {
    color: var(--dark-gray);
    font-size: 2rem;
}
.header-container img {
    width: 3rem;
    height: 3rem;
}
@media (max-width: 800px){
    .header h1{
        font-size: 5rem;
    }
    .header{
        padding: 4rem;
        margin-bottom: 3rem;
    }
    .header-container a {
        font-size: 1.5rem;
    }
    .header-container img {
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media (max-width: 400px){
    .header h1{
        font-size: 3rem;
    }
    .header{
        padding: 3rem;
        margin-bottom: 2rem;
    }
    .header-container a {
        font-size: 1rem;
    }
    .header-container img {
        width: 2rem;
        height: 2rem;
    }
}
/*End of multi page Header*/
/*Start of multi page Footer*/
#footer-container{
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--tirtiary-color);
    padding: var(--container-margin);
}
#footer-logo-container{
    max-width: 20rem;
    font-size: 2rem;
    margin: 2rem;
}
#footer-logo-container img{
    max-width: 20rem;
}

#footer-link-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.footer-inner-container{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    list-style: none;
}
.footer-inner-container h1{
    font-size: 2.5rem;
    font-family: "Bellota";
    color: white;
    text-decoration: none;
    text-align: left;
}

.footer-page-links{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    color: white;
}
.horizontal-footer{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
    color: white;
}
.horizontal-footer a{
    color: white;
    font-size: 2rem;
}


.horizontal-index-footer{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
}

.h-footer-divider{
    width: 100px;
    height: 5px;
    background: var(--primary-color);
    border-radius: 1rem;
    margin: .5rem 0rem .5rem 0rem;
}

@media (max-width: 650px) {
    #footer-logo-container img{
        max-width: 15rem;
        margin: 0rem;

    }
    #footer-logo-container > *:first-child
    {
        margin: 1rem 1rem 0rem 1rem;

    }
    .horizontal-footer{
        margin: 1rem 1rem 0rem 1rem;
    }
    .horizontal-footer div{
        font-size: 1.5rem;
    }
    .horizontal-footer a {
        font-size: 1.5rem;
    }
    .footer-inner-container h1 {
        font-size: 2rem;
    }
    #footer-link-container {
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
    }

}
@media (max-width: 350px) {
    #footer-container{
        padding: 0rem .5rem 0rem .5rem;
    }
    #footer-logo-container img{
        max-width: 15rem;
        margin: 0rem;
    }

    #footer-logo-container > *:first-child
    {
        margin: 1rem 1rem 0rem 1rem;

    }

    .horizontal-footer{
        margin: 1rem 1rem 0rem 1rem;
    }
    .horizontal-footer div{
        font-size: 1.2rem;
    }
    .horizontal-footer a {
        font-size: 1.2rem;
    }
    .footer-inner-container{
        margin: 0rem 0rem 1rem 0rem;
    }
    .footer-inner-container h1 {
        font-size: 2rem;
    }
    #footer-link-container {
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
    }
    .horizontal-index-footer div {
        font-size: 1.5rem;

    }

}

/*End of multi page Footer*/





/*Start of multi page elements*/

.std-btn{
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
}

.services-btn:hover{
    transition: .2s;
}
.services-btn:not(:hover) {
    background-color: var(--primary-color);
    transition: .5s;
}

.std-btn:hover{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    /* background-color: var(--secondary-color); */
    transition: .5s;
}
.std-btn:not(:hover){
    background-color: var(--primary-color);
    transition: .5s;
}
.std-btn:disabled{
    background-color: lightgrey;
    pointer-events: none;
}
.right-arrow-icon{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

/*End of multi page elements*/


/*START OF HOME PAGE*/
.hero-img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 800px;
    height: 800px;
    margin-bottom: 3rem;

    
}
.image-overlay { 
    position: relative;
   display: inline-block;
}
.image-overlay img {
    display: block;
}
.image-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.698), rgba(0, 0, 0, 0));
    pointer-events: none; /* Ensures that the overlay doesn't interfere with any interactions */
}
.hero-image-text-container{
    z-index: 10;
    margin-bottom: 20%;
    padding-left: 8rem;
    position: absolute;
    color: white;
    width: 100%;
}
.hero-image-text-container h1{
    font-size: 7rem;
    font-family: "Bellota";
}
.hero-image-text-container p{
    font-size: 2rem;
}
#large-hero{
    max-width: 1920px;
}
#medium-hero{
    display: none;
    max-width: 1000px;
}
#small-hero{
    display: none;
    max-width: 600px;
}


@media (max-width: 1000px){
    #large-hero{
        display: flex;
    }
}
@media (max-width: 1000px){
    #large-hero{
        display: none;
    }
    #medium-hero{
        display: flex;
    }
    #small-hero{
        display: none;
    }
    .hero-image-text-container h1{
        font-size: 5rem;
    }
    .hero-image-text-container p{
        font-size: 1.5rem;
    }
    .hero-image-text-container{
        padding-left: 2rem;
    }
}
@media (max-width: 600px){
    #large-hero{
        display: none;
    }
    #medium-hero{
        display: none;
    }
    #small-hero{
        display: flex;
    }
    .hero-image-text-container h1{
        font-size: 3rem;
    }
    .hero-image-text-container p{
        font-size: 1rem;
    }
    .hero-image-text-container{
        padding-left: 1rem;
    }
}
.hero-video-container{
    width: 100%;
    height: 700px;
    margin-bottom: 2rem;

}
.hero-video {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.hero-video-text-container{
    position: absolute;
    top: 35%;
    left: 10%;
    color: white;
}
.hero-video-text-container h1 {
    font-size: 7rem;
    font-family: "Bellota";
}

.hero-video-text-container p {
    font-size: 2rem;
}


/*Start of "About me*/
.about-outer-container{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-top: 4rem;
    height: 25rem;
    /* padding: 1rem 0rem 1rem 0rem; */
}
.about-inner-container{
    display: flex;
    background-color: var(--light-gray);
    width: 100%;
    height: 80%;
    color: var(--dark-gray);
    
}
.about-inner-container h1{
    text-align: right;
    font-size: 4rem;
    font-family: "Bellota";
    margin-bottom: 1.5rem;
}
.about-inner-container p {
    font-size: 1.5rem;
    margin-left: 5rem;
}
.about-text-container{
    padding: 1rem 0rem 0rem 1rem;
    height: 100%;
    width: 60%; 
    margin-bottom: 1rem;
}

.about-image-container{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 2rem;

}
.image-shell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    max-height: 25rem;
    height: 25rem;
    width: 19rem;
    border-radius: 10rem;

}
.about-image-container img{
    top: 0;
    left: 0;
    max-height: 24rem;
    height: 24rem;
    width: 18rem;
    border-radius: 10rem;

}

@media (max-width: 1000px){
    .about-outer-container{
        margin-top: 4rem;
        width: 100%;
    }
    .about-text-container{
        width: 100%;
    }
    .about-inner-container{
        height: 100%;
    }
    .about-inner-container h1 {
        font-size: 3rem;
        text-align: left;
        margin-bottom: 1rem;
    }
    .about-inner-container p {
        font-size: 1rem;
        margin-left: 0rem;
    }
    .about-image-container{
        display: none;
    }

}
/*End of "About me*/
/*Start of Media Preview component*/
#mediapost-preview-home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
}
#mediapost-preview-home-container h1{
    color: var(--dark-gray);
}
#mediapost-preview-home-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.preview-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.cycle-post-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 10%;
    max-width: 7rem;
    height: 100%;
    z-index: 10;
}
.cycle-post-svg{
    height: 7rem;
}

#preview-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    width: 100%;
    flex-direction: column;
    color: var(--dark-gray);
}
#preview-header-text{
    font-family: "Bellota";
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;

}
#preview-title{
    margin: 1rem 0rem 1rem 0rem;
    font-size: 3rem;
    font-family: "Bellota";
}
#preview-text{
    font-size: 2rem;
    /* width: 70ch; */
    overflow-wrap: anywhere;

}
.readmore-btn{
    margin: 2rem 0rem 1rem 0rem; 
}
.media-preview-image{
    object-fit: fill;
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
}

.mobile-cycle-post-container{
    display: none;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    margin-top: 3rem;
}
.mobile-cycle-post-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
    cursor: pointer;
    max-width: 7rem;
    height: 100%;
    z-index: 10;
}
.mobile-cycle-post-svg{
    height: 7rem;
}
.mobile-cycle-post-btn div{
    color: var(--dark-gray);
    font-size: 1.2rem;
    margin-top: .5rem;

}

@media ( max-width: 800px) { 
    #preview-header-text{
        font-size: 3rem;
    }
    .cycle-post-btn{
        width: 5rem;
    }
    .cycle-post-svg{
        height: 5rem;
    }
}
@media ( max-width: 600px) { 
    #mediapost-preview-home-container{
        padding: 0rem .5rem 0rem .5rem;
    }
    #preview-header-text{
        font-size: 2.5rem;
    }
    .cycle-post-btn{
        display: none;
    }
    .mobile-cycle-post-container{
        display: flex;
    }
    #preview-title{
        font-size: 2.5rem;
    }
    #preview-text{
        font-size: 1.5rem;
    
    }
}



/*End of Media Preview component*/

/*START OF CONTACT PAGE*/
.contact-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3rem 5rem 3rem 5rem;
    background-color: var(--light-gray);
    margin-bottom: 3rem;
}
.contact-header h1{
    font-size: 7rem;
    color: var(--dark-gray);
    font-weight: 500;
    font-family: "Bellota";
    margin-bottom: 1rem;

}
.contact-header-container{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 1rem 0rem 1rem 0rem;

}
.contact-header-container div {
    color: var(--dark-gray);
    font-size: 2.5rem;
}
.contact-header-container img {
    width: 5rem;
    height: 5rem;
    fill: var(--dark-gray);
}
@media (max-width: 700px){
    .contact-header{
    padding: 3rem 2rem 3rem 2rem;

    }
    .contact-header h1{
        font-size: 5rem;
    }
    .contact-header-container div {
        font-size: 1.5rem;
    }
    .contact-header-container img {
        width: 3rem;
        height: 3rem;
    }
}


.mailto-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin : var(--container-margin);
    padding: 0rem 5rem 0rem 5rem;
    background-color: white;


}
.mailto-container h1{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: var(--dark-gray);
    margin-bottom: 1rem;

}

@media (max-width: 700px){
    .mailto-container{
        margin: 0rem 1rem 0rem 1rem;
        padding: 0rem;
        justify-content: center;

    }
    .mailto-container h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 400px){
    .mailto-container h1{
        font-size: 1.5rem;
    }
    .contact-header h1{
        font-size: 3rem;
    }
    .contact-header{
        padding: 3rem .5rem 3rem .5rem;
    
        }
}

#mail-form{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding-top: 1rem;
}
#contact-info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
#contact-message-container{
    width: 50%;
    padding: 1rem 1rem 1.9rem 1rem; 
}
#contact-message-container textarea{
    width: 100%;
    height: 73.5%;
    resize: vertical;
    padding: 1rem;
    padding-top: .5rem;
}
.input-field{
    width: 100%;
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: none;
    height: 4rem;
    background-color: var(--light-gray);
    color: var(--dark-gray);
}
#btn-container{
    justify-self: flex-end;
    width: 50%;
    max-width: 50%;
    margin-left: 1rem;

}
.submit-mail-btn{
    width: 100%;
    height: 4rem;
}
@media (max-width: 700px){
    #mail-form{
        flex-direction: column;
    }
    #contact-info-container{
        width: 100%;
    }
    #contact-message-container{
        width: 100%;
    }
    .input-field{
        font-size: 1.5rem;
    }
}

/*END OF CONTACT PAGE*/

/*START OF SERVICES PAGE*/
/*Start of Services Component*/

#services-outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: var(--container-margin);
}
.h-services-divider{
    width: 25%;
    height: 5px;
    background: var(--primary-color);
    padding-left: 2rem;
    border-radius: 1rem;
}
.v-services-divider{
    height: 10rem;
    width: 3px;
    background: var(--primary-color);
    border-radius: 1rem;
}

#services-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 5rem 0rem 5rem 0rem;
    width: 100%;
    gap: 2rem;
}

#services-headline{
    font-family: "Bellota";
    color: var(--dark-gray);
    font-size: 3.5rem;
    margin-bottom: 2rem;

}
.services-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
}
.services-btn-container h1{
    margin-top: .5rem;
    color: var(--dark-gray);
    font-size: 2rem;
    text-align: center;
}
.services-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);

    border: none;
    border-radius: 50%;
    padding: 1.5rem;
    max-height: 130px;
    max-width: 130px;
    cursor: pointer;
    transition: all;

}
.services-btn:hover{
    transition: .2s;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);



}
.services-btn:not(:hover) {
    background-color: var(--primary-color);
    transition: .5s;
}


@media (max-width: 1300px){
    #services-headline{
        font-size: 3rem;
    }
    .services-btn-container h1{
        font-size: 1.5rem;
    }
    .services-btn{
        max-height: 100px;
        max-width: 100px;
    }
    .services-btn img{
        max-height: 60px;
        max-width: 60px;
    }
}
@media (max-width: 800px){
    #services-headline{
        font-size: 2.5rem;
    }
    .services-btn-container h1{
        font-size: 1rem;
    }
    .v-services-divider{
        display: none;
    }

}
@media (max-width: 600px){
    .services-btn-container h1{
        font-size: 1.5rem;
    }
    .v-services-divider{
        display: none;
    }
    #services-container{
        flex-direction: column;
        margin: 2rem 0rem 2rem 0rem;
        gap: 2rem;
    }

}
@media (max-width: 400px){
    #services-headline{
        font-size: 1.5rem;
    }
    

}
/*End of Services Component*/
/*Start of Services Sidebar Component*/
.sidebar-container{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 3rem;
    max-width: 30%;
}
.top-sidebar-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light-gray);
    border-radius: 1rem;
    padding: 1rem 0rem 1rem 0rem;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
}
.horizontal-sidebar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.horizontal-sidebar-container a{
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;


}
.thick-right-arrow-icon{
    fill: var(--dark-gray);
}
.sidebar-header{
    color: var(--dark-gray);

    font-size: 3rem;
    text-align: center;
    font-family: "Bellota";
    margin-bottom: 1rem;
}

.sidebar-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--dark-gray);
    border: none;
    padding: 1rem;
    max-height: 5rem;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: left;
    margin: .5rem 0rem .5rem 0rem;
    border-radius: 1rem;
}

.sidebar-btn:hover{
    background-color: white;
    transition: .5s;
    color: var(--primary-color);
}
.sidebar-btn:hover svg {
    fill: var(--primary-color);
    transition: .5s;

}
.sidebar-btn:not(:hover){
    background-color: var(--primary-color);
    transition: .5s;
}
.sidebar-btn:not(:hover) svg{
    fill: var(--dark-gray);
    transition: .5s;
}
.sidebar-btn.highlight {
    background-color: white;
    color: var(--primary-color);
}
.sidebar-btn.highlight svg {
    fill: var(--primary-color);

}

.bottom-sidebar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background: url('../public/assets/images/StockPhoto.jpg') no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.5rem;
}
.bottom-sidebar-container h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.bottom-sidebar-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.bottom-sidebar-container > * {
    position: relative;
    z-index: 1;
}



.horizontal-container img {
    margin-right: 10px; 
}

.service-contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    margin: .5rem 0rem .5rem 0rem;
}
.service-contact-container img{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;

}
/*End of Services Sidebar Component*/

/*END OF SERVICES PAGE*/
/*Start of Media component*/

.media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--container-margin);
    margin-bottom: 5rem;
}

.post-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.post-header-container h1 {
    font-size: 3.5rem;
    color: var(--dark-gray);
    font-family: "Bellota";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.date-display {
    font-size: 1rem;
    color: var(--dark-gray);
    white-space: nowrap;
    font-weight: 400;
}

.left-empty-space {
    width: 33%; 
}

.media-text-content {
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 2rem;
    color: var(--dark-gray);
    overflow-wrap: anywhere;
    
}

.media-container a:visited {
    color: var(--dark-gray);
}

.media-attachment-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    gap: 2rem;
}

.media-image {
    object-fit: contain;
    max-width: 700px;
    max-height: 500px;
    border-radius: 1rem;
    box-shadow: 15px 15px 26px 0px rgba(0,0,0,0.5);
}

.media-video {
    object-fit: fill;
    width: 100%;
    max-width: 900px;
    max-height: 500px;
    border: 2px solid var(--dark-gray);
    border-radius: 1rem;
    box-shadow: 15px 15px 26px 0px rgba(0,0,0,0.5);
}

.h-media-divider {
    width: 100%;
    height: 5px;
    background: var(--primary-color);
    border-radius: 1rem;
    margin: 2rem 0rem 2rem 0rem;
}

.h-media-divider-small {
    width: 20%;
    height: 5px;
    background: var(--primary-color);
    border-radius: 1rem;
    margin: 2rem 0rem 5rem 0rem;
}


@media (max-width: 1500px) {
    .media-attachment-container{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}
/*End of Media component*/



/*START OF ADMIN PAGE*/
/*Admin Login*/
#admin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#admin-container h1{
    font-size: 3rem;
    color: var(--dark-gray);
    margin: 1rem 0rem 1rem 0rem;
    font-family: "Bellota";


}
.admin-divider{
    width: 40%;
    height: 5px;
    background: var(--primary-color);
    margin: 0rem 0rem 1.5rem 0rem;
    border-radius: 1rem;
}

#admin-login-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
#admin-login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.admin-inner-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.label-container{
    display: flex;
    justify-content: center;
    text-align: right;
    height: 100%;
    width: 100%;
}
.login-label{
    display: flex;
    justify-content: right;
    color: var(--dark-gray);
    font-size: 2.5rem;
    margin-right: 1rem;
    height: 4rem;
    margin: 1rem 0rem 1rem 1rem;

}

.input-container{
    width: 100%;
    display: flex;
    align-items: left;
}
.login-input{
    width: 100%;
    font-size: 2rem;
    padding-left: .5rem;
    border-radius: .5rem;
    border: none;
    height: 4rem;
    max-width: 20rem;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    margin: 1rem 0rem 1rem 1rem;
}
.login-btn-container{
    width: 100%;
    height: 5rem;
}
.login-btn{
    margin: 1rem 0rem 1rem 1rem;
    padding: 1rem;
}


@media (max-width: 1000px) {
    .login-label{
        font-size: 2rem;
        margin-right: 1rem;
        height: 4rem;
        margin: 1rem 0rem 1rem 0rem;
    }
    .login-input{
        font-size: 1.5rem;
        height: 3.5rem;
        width: 15rem;
    }
    .login-btn{
        margin: 1rem 0rem 1rem 1rem;
        padding: .5rem;
    }
}
@media (max-width: 600px) {
    #admin-container h1{
        font-size: 2.5rem;
    }
    .login-label{
        font-size: 1.2rem;
        height: 3.5rem;
        margin: 1rem 0rem 1rem 0rem;
    }
    .login-input{
        font-size: 1rem;
        height: 3rem;
        width: 10rem;
    }
    .login-btn{
        font-size: 1.8rem;
        margin: 1rem 0rem 1rem 1rem;
        padding: .5rem;
    }
}
@media (max-width: 321px) {
    #admin-container h1{
        font-size: 2rem;
    }
    .login-label{
        align-items: center;
        font-size: 1rem;
        margin-right: 1rem;
        height: 3rem;
        margin: 1rem 0rem 1rem 0rem;
    }
    .login-input{
        font-size: 1rem;
        height: 3rem;
        width: 8rem;
    }
}
/*End of Admin Login*/


/*Admin Dashboard*/

#admin-dashboard{
    margin: var(--container-margin);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#admin-dashboard h1{
    font-size: 3rem;
    color: var(--dark-gray);
    margin: 1rem 0rem 1rem 0rem;
    font-weight: 500;

}

.dashboard-collapse-btn{
    width: 60%;
    display: flex;
    margin-top: 2rem;
    padding-left: .5rem;
    background-color: white;
    color: var(--dark-gray);
    border: none;
    border-bottom: var(--primary-color) 4px solid;
    font-size: 2.5rem;
    cursor: pointer;
    text-align: left;
}
.dashboard-collapse-btn img{
    margin-left: .5rem;
    rotate: 0deg;
}
.dashboard-collapse-btn:hover .expand-icon{
    rotate: 90deg;
    transition: .2s;
}
.dashboard-collapse-btn:not(:hover) .expand-icon{
    rotate: 0deg;
    transition: .2s;
}
.dashboard-collapse-btn input{
    width: 100%;
    font-size: 1.5rem;
    padding-left: .5rem;
    
}

.collapse-icon{
    display: none;
}
.dashboard-collapse-container{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    min-height: 10rem;
    width: 60%;
    height: fit-content;
    margin: 2rem 0rem 2rem 0rem;
}
.dashboard-collapse-container textarea{
    width: 100%;
    resize: vertical;
    padding: 1rem;
    padding-top: .5rem;
    min-height: 10rem;
    max-height: 30rem;
}
.dashboard-collapse-container div{
    color: var(--dark-gray);
    font-size: 2rem;
    margin-top: 1rem;
    

}
.image-upload-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 2rem 0rem;
}


#collapse-3-container{
   display: flex;
   justify-content: left;
   align-items: center;
   padding-left: .5rem;
}
#collapse-3-container img{
    margin-right: 1rem;
    width: 5rem;
}
.selected-file-text{
    font-size: 1rem;
}
.upload-image-button{
    display: flex;
    padding: .8rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    height: 5rem;
    width: 5rem;
}
.selected-image-container{
    display: flex;
}
.preview-upload-image-container{
    height: 5rem;
    width: 5rem;
    margin: 1rem 1rem 1rem 1rem;
}
.preview-upload-image{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 1rem;

}
.remove-image-button{
    position: absolute;
    background-color: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    margin-left: 3rem;
}
.remove-image-button img{
    width: 2rem;
    height: 2rem;
}
.v-upload-divider{
    display: none;
    height: 10rem;
    width: 3px;
    background: var(--primary-color);
    border-radius: 1rem;
    margin: 0rem 3rem 0rem 3rem;
}
@media (max-width: 1000px){
    .dashboard-collapse-btn{
        justify-content: center;
        font-size: 2rem;
        width: 100%;
    }
    .dashboard-collapse-container{
        width: 100%;
    }
    .image-upload-container{
        width: 50%;
    }
    #file-upload-container{
        display: flex;
        justify-content: center;
    }
    .v-upload-divider{
        display: block;
        margin: 0rem 3rem 0rem 3rem;
    }
    .dashboard-collapse-container form{
        display: flex;
        flex-direction: column;
    }
    #collapse-3 div {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px){
    #admin-dashboard{
        margin: 0rem .5rem 0rem .5rem;
    }
    #admin-dashboard h1{
        font-size: 1.8rem;
    }
    .input-field{
        font-size: 1rem;
    }
    .dashboard-collapse-btn{
        justify-content: center;
        font-size: 1.5rem;
        width: 100%;
    }
    .dashboard-collapse-container{
        width: 100%;
    }
    .image-upload-container{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .image-upload-container label{
        font-size: 1.5rem;
    }
    #file-upload-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .v-upload-divider{
        display: none;
    }
    .dashboard-collapse-container form{
        display: flex;
        flex-direction: column;
    }
    #collapse-3 div {
        font-size: 1rem;
    }
    #collapse-3-container img{
        width: 3rem;
    }
}


/*End of Admin Dashboard*/

/*Start of success popup*/
.success-failure-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
.success-failure-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background: white;
    border-radius: 1rem;
    border: var(--primary-gray) 1px solid;
    padding-bottom: 2rem;
}
.success-failure-container p{
    color: var(--primary-gray);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: .5rem 1rem .5rem 1rem;

}
.close-success-failure-popup-btn-container{
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
}
.close-success-failure-popup-btn{
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    float: right;
    margin-right: 1rem;
}
.close-popup-icon{
    width: 3rem;
    height: 3rem;
}
/*End of success popup*/

/*END OF ADMIN PAGE*/

#btn-container{
    width: 100%;
}

.divider{
    width: 100%;
    height: 5px;
    background: var(--primary-color);
    margin: 0rem 0rem 1.5rem 0rem;
    padding-left: 2rem;
    border-radius: 1rem;
}
